<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <h1>Mi nombre es <%= nombre %></h1>
    
    <% if(nombre == 'Matias') {%>
        <h2>Soy el orador</h2>
    <% } else { %>
        <h2>No soy el orador</h2>
    <% } %>
</body>
</html>